{%  extends "base.html.twig" %}

{% block body %}
    <h1>Form with Integer and String Input</h1>
    <form>
        <label for="integerInput">Integer Input:</label>
        <input type="text" id="integerInput" >

        <br><br>

        <label for="stringInput">String Input:</label>
        <input type="text" id="stringInput" >
    </form>
{% endblock %}

{% block bottomScripts %}
    <script type="text/javascript">

    let integerInput = document.getElementById('integerInput');
    let stringInput = document.getElementById('stringInput');

    window.onload = function () {
        console.log('test');
        integerInput.onblur = function () {
            stringInput.value = 'A';
        }
    }

    </script>
{% endblock %}